{% extends('index/layout.html') %}

{% block title %} голова {% endblock %}
{% block tema %}
    <div class="temale">
        <img src="{{ static('index/svg/pogo.svg') }}">
    </div>
    <div class="temara">
    На самом краю села Мироносицкого, в сарае старосты Прокофия
    расположились на ночлег запоздавшие охотники. Их было только
    двое: ветеринарный врач Иван Иваныч и учитель гимназии
    Буркин. У Ивана Иваныча была довольно странная, двойная
    фамилия — Чимша-Гималайский, которая совсем не шла ему,
    и его во всей губернии звали просто по имени и отчеству;
    он жил около города на конском заводе и приехал теперь
    на охоту, чтобы подышать чистым воздухом. Учитель же
    гимназии Буркин каждое лето гостил у графов П. и в этой
    местности давно уже был своим человеком.
    Не спали. Иван Иваныч, высокий, худощавый старик с длинными
    усами, сидел снаружи у входа и курил трубку; его освещала
    луна. Буркин лежал внутри на сене, и его не было видно в
    потемках.
    Рассказывали разные истории. Между прочим говорили о том,
    что жена старосты, Мавра, женщина здоровая и не глупая,
    во всю свою жизнь нигде не была дальше своего родного села,
    никогда не видела ни города, ни железной дороги, а в
    последние десять лет всё сидела за печью и только по
    ночам выходила на улицу.

    ООО "ПКФ "БМК"
    8-800-302-32-79
    8-495-104-54-57
    8-812-701-02-97
    info@pkfbmk.ru
    spb@pkfbmk.ru
    По будням с 09:00 до 18:00
    141009,
    Московская область,
    г.Мытищи,
    ул.Колонцова,
    д.15
    </div>
{% endblock %}
