{% extends('index/layout.html') %}

{% block title %} кабина {% endblock %}
{% block tema %}
    <div class="temale">
        <input class="form-control" type="text" placeholder="e-mail">
        <br>
        <input class="form-control" type="text" placeholder="пароль">
        <br>
        <button class="login btn btn-outline-primary">войти</button>
    </div>
    <div class="temara">
        <input class="form-control" type="text" placeholder="e-mail">
        <br>
        <input class="form-control" type="text" placeholder="пароль">
        <br>
        <button class="login btn btn-outline-primary">зарегестрироваться</button>
    </div>
{% endblock %}
